<div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
  <!-- Day 1 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/1.png" alt="Day 1" />
        </div>
        <div class="flip-back">
          <img src="assets/media/card_reverse_images/day1_cookie.png" alt="Favicon" />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 2 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/2.png" alt="Day 2" />
        </div>
        <div class="flip-back">
          <img src="assets/media/card_reverse_images/day2_castle.png" alt="Favicon" />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 3 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/3.png" alt="Day 3" />
        </div>
        <div class="flip-back">
          <img src="assets/media/card_reverse_images/day3_hug.png" alt="Favicon" />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 4 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/4.png" alt="Day 4" />
        </div>
        <div class="flip-back">
          <img src="assets/media/card_reverse_images/day4_sock.png" alt="Favicon" />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 5 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/5.png" alt="Day 5" />
        </div>
        <div class="flip-back">
          <img src="assets/media/card_reverse_images/day5_volunteer.png" alt="Favicon" />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 6 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/6.png" alt="Day 6" />
        </div>
        <div class="flip-back">
          <img src="assets/media/card_reverse_images/day6_santa.png" alt="Favicon" />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 7 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/7.png" alt="Day 7" />
        </div>
        <div class="flip-back">
          <img src="assets/media/card_reverse_images/day7_candy.png" alt="Favicon" />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 8 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/8.png" alt="Day 8" />
        </div>
        <div class="flip-back">
          <img src="assets/media/card_reverse_images/day8_cake.png" alt="Favicon" />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 9 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/9.png" alt="Day 9" />
        </div>
        <div class="flip-back">
          <img src="assets/media/card_reverse_images/day9_croissant.png" alt="Favicon" />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 10 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/10.png" alt="Day 10" />
        </div>
        <div class="flip-back">
          <img src="assets/media/card_reverse_images/day10_fist.png" alt="Favicon" />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 11 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/11.png" alt="Day 11" />
        </div>
        <div class="flip-back">
          <img src="assets/media/card_reverse_images/day11_dance.png" alt="Favicon" />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 12 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/12.png" alt="Day 12" />
        </div>
        <div class="flip-back">
          <img src="assets/media/card_reverse_images/day12_house.png" alt="Favicon" />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 13 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/13.png" alt="Day 13" />
        </div>
        <div class="flip-back">
          <img src="assets/media/card_reverse_images/day13_cocoa.png" alt="Favicon" />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 14 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/14.png" alt="Day 14" />
        </div>
        <div class="flip-back">
          <img src="assets/media/card_reverse_images/day14_monkey.png" alt="Favicon" />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 15 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/15.png" alt="Day 15" />
        </div>
        <div class="flip-back">
          <img src="assets/media/card_reverse_images/day15_tea.png" alt="Favicon" />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 16 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/16.png" alt="Day 16" />
        </div>
        <div class="flip-back">
          <img src="assets/media/card_reverse_images/day16_toy.png" alt="Favicon" />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 17 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/17.png" alt="Day 17" />
        </div>
        <div class="flip-back">
          <img src="assets/media/card_reverse_images/day17_dragon.png" alt="Favicon" />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 18 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/18.png" alt="Day 18" />
        </div>
        <div class="flip-back">
          <img src="assets/media/card_reverse_images/day18_migrant.png" alt="Favicon" />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 19 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/19.png" alt="Day 19" />
        </div>
        <div class="flip-back">
          <img src="assets/images/favicon.png" alt="Favicon" />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 20 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/20.png" alt="Day 20" />
        </div>
        <div class="flip-back">
          <img src="assets/media/card_reverse_images/day20_handshake.png" alt="Favicon" />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 21 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/21.png" alt="Day 21" />
        </div>
        <div class="flip-back">
          <img src="assets/media/card_reverse_images/day21_bed.png" alt="Favicon" />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 22 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/22.png" alt="Day 22" />
        </div>
        <div class="flip-back">
          <img src="assets/images/favicon.png" alt="Favicon" />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 23 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/23.png" alt="Day 23" />
        </div>
        <div class="flip-back">
          <img src="assets/media/card_reverse_images/day23_popcorn.png" alt="Favicon" />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 24 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/24.png" alt="Day 24" />
        </div>
        <div class="flip-back">
          <img src="assets/media/card_reverse_images/day24_christmaseve.png" alt="Favicon" />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 25 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/25.png" alt="Day 25" />
        </div>
        <div class="flip-back">
          <img src="assets/images/favicon.png" alt="Favicon" />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 26 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/26.png" alt="Day 26" />
        </div>
        <div class="flip-back">
          <img src="assets/media/card_reverse_images/day26_kwanzaa.png" alt="Kwanzaa" />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 27 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/27.png" alt="Day 27" />
        </div>
        <div class="flip-back">
          <img src="assets/images/favicon.png" alt="Favicon">
        </div>
      </div>
    </div>
  </div>

  <!-- Day 28 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/28.png" alt="Day 28" />
        </div>
        <div class="flip-back">
          <img src="assets/media/card_reverse_images/day28_call-a-friend.png" alt="Call a friend day" />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 29 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/29.png" alt="Day 29" />
        </div>
        <div class="flip-back">
          <img src="assets/images/favicon.png" alt="Favicon">
        </div>
      </div>
    </div>
  </div>

  <!-- Day 30 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/30.png" alt="Day 30" />
        </div>
        <div class="flip-back">
          <img src="assets/media/card_reverse_images/day30_bacon.png" alt="National Bacon Day">
        </div>
      </div>
    </div>
  </div>

  <!-- Day 31 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/31.png" alt="Day 31" />
        </div>
        <div class="flip-back">
          <img src="assets/media/card_reverse_images/day31_happy-new-year.png" alt="New Year" />
        </div>
      </div>
    </div>
  </div>

</div>