<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-3">
  <!-- Day 1 -->
  <div class="col">
    <div
      class="card calendar-day btn disabled"
      data-bs-toggle="modal"
      data-bs-target="#day1"
    >
      <div class="tooltip-wrapper">
        <img
          src="../assets/media/numbers_for_calendar/1.png"
          class="card-img-top"
          alt="Day 1"
        />
      </div>
      <div class="card-body"></div>
    </div>
  </div>
  <!-- Day 2 -->
  <div class="col">
    <div
      class="card calendar-day btn disabled"
      data-bs-toggle="modal"
      data-bs-target="#day2"
    >
      <div class="tooltip-wrapper">
        <img
          src="../assets/media/numbers_for_calendar/2.png"
          class="card-img-top"
          alt="Day 2"
        />
      </div>
      <div class="card-body"></div>
    </div>
  </div>
  <!-- Day 3 -->
  <div class="col">
    <div
      class="card calendar-day btn disabled"
      data-bs-toggle="modal"
      data-bs-target="#day3"
    >
      <div class="tooltip-wrapper">
        <img
          src="../assets/media/numbers_for_calendar/3.png"
          class="card-img-top"
          alt="Day 3"
        />
      </div>
      <div class="card-body"></div>
    </div>
  </div>
  <!-- Day 4 -->
  <div class="col">
    <div
      class="card calendar-day btn disabled"
      data-bs-toggle="modal"
      data-bs-target="#day4"
    >
      <div class="tooltip-wrapper">
        <img
          src="../assets/media/numbers_for_calendar/4.png"
          class="card-img-top"
          alt="Day 4"
        />
      </div>
      <div class="card-body"></div>
    </div>
  </div>
  <!-- Day 5 -->
  <div class="col">
    <div
      class="card calendar-day btn disabled"
      data-bs-toggle="modal"
      data-bs-target="#day5"
    >
      <div class="tooltip-wrapper">
        <img
          src="../assets/media/numbers_for_calendar/5.png"
          class="card-img-top"
          alt="Day 5"
        />
      </div>
      <div class="card-body"></div>
    </div>
  </div>
  <!-- Day 6 -->
  <div class="col">
    <div
      class="card calendar-day btn disabled"
      data-bs-toggle="modal"
      data-bs-target="#day6"
    >
      <div class="tooltip-wrapper">
        <img
          src="../assets/media/numbers_for_calendar/6.png"
          class="card-img-top"
          alt="Day 6"
        />
      </div>
      <div class="card-body"></div>
    </div>
  </div>
  <!-- Day 7 -->
  <div class="col">
    <div
      class="card calendar-day btn disabled"
      data-bs-toggle="modal"
      data-bs-target="#day7"
    >
      <div class="tooltip-wrapper">
        <img
          src="../assets/media/numbers_for_calendar/7.png"
          class="card-img-top"
          alt="Day 7"
        />
      </div>
      <div class="card-body"></div>
    </div>
  </div>
  <!-- Day 8 -->
  <div class="col">
    <div
      class="card calendar-day btn disabled"
      data-bs-toggle="modal"
      data-bs-target="#day8"
    >
      <div class="tooltip-wrapper">
        <img
          src="../assets/media/numbers_for_calendar/8.png"
          class="card-img-top"
          alt="Day 8"
        />
      </div>
      <div class="card-body"></div>
    </div>
  </div>
  <!-- Day 9 -->
  <div class="col">
    <div
      class="card calendar-day btn disabled"
      data-bs-toggle="modal"
      data-bs-target="#day9"
    >
      <div class="tooltip-wrapper">
        <img
          src="../assets/media/numbers_for_calendar/9.png"
          class="card-img-top"
          alt="Day 9"
        />
      </div>
      <div class="card-body"></div>
    </div>
  </div>
  <!-- Day 10 -->
  <div class="col">
    <div
      class="card calendar-day btn disabled"
      data-bs-toggle="modal"
      data-bs-target="#day10"
    >
      <div class="tooltip-wrapper">
        <img
          src="../assets/media/numbers_for_calendar/10.png"
          class="card-img-top"
          alt="Day 10"
        />
      </div>
      <div class="card-body"></div>
    </div>
  </div>
  <!-- Day 11 -->
  <div class="col">
    <div
      class="card calendar-day btn disabled"
      data-bs-toggle="modal"
      data-bs-target="#day11"
    >
      <div class="tooltip-wrapper">
        <img
          src="../assets/media/numbers_for_calendar/11.png"
          class="card-img-top"
          alt="Day 11"
        />
      </div>
      <div class="card-body"></div>
    </div>
  </div>
  <!-- Day 12 -->
  <div class="col">
    <div
      class="card calendar-day btn disabled"
      data-bs-toggle="modal"
      data-bs-target="#day12"
    >
      <div class="tooltip-wrapper">
        <img
          src="../assets/media/numbers_for_calendar/12.png"
          class="card-img-top"
          alt="Day 12"
        />
      </div>
      <div class="card-body"></div>
    </div>
  </div>
  <!-- Day 13 -->
  <div class="col">
    <div
      class="card calendar-day btn disabled"
      data-bs-toggle="modal"
      data-bs-target="#day13"
    >
      <div class="tooltip-wrapper">
        <img
          src="../assets/media/numbers_for_calendar/13.png"
          class="card-img-top"
          alt="Day 13"
        />
      </div>
      <div class="card-body"></div>
    </div>
  </div>
  <!-- Day 14 -->
  <div class="col">
    <div
      class="card calendar-day btn disabled"
      data-bs-toggle="modal"
      data-bs-target="#day14"
    >
      <div class="tooltip-wrapper">
        <img
          src="../assets/media/numbers_for_calendar/14.png"
          class="card-img-top"
          alt="Day 14"
        />
      </div>
      <div class="card-body"></div>
    </div>
  </div>
  <!-- Day 15 -->
  <div class="col">
    <div
      class="card calendar-day btn disabled"
      data-bs-toggle="modal"
      data-bs-target="#day15"
    >
      <div class="tooltip-wrapper">
        <img
          src="../assets/media/numbers_for_calendar/15.png"
          class="card-img-top"
          alt="Day 15"
        />
      </div>
      <div class="card-body"></div>
    </div>
  </div>
  <!-- Day 16 -->
  <div class="col">
    <div
      class="card calendar-day btn disabled"
      data-bs-toggle="modal"
      data-bs-target="#day16"
    >
      <div class="tooltip-wrapper">
        <img
          src="../assets/media/numbers_for_calendar/16.png"
          class="card-img-top"
          alt="Day 16"
        />
      </div>
      <div class="card-body"></div>
    </div>
  </div>
  <!-- Day 17 -->
  <div class="col">
    <div
      class="card calendar-day btn disabled"
      data-bs-toggle="modal"
      data-bs-target="#day17"
    >
      <div class="tooltip-wrapper">
        <img
          src="../assets/media/numbers_for_calendar/17.png"
          class="card-img-top"
          alt="Day 17"
        />
      </div>
      <div class="card-body"></div>
    </div>
  </div>
  <!-- Day 18 -->
  <div class="col">
    <div
      class="card calendar-day btn disabled"
      data-bs-toggle="modal"
      data-bs-target="#day18"
    >
      <div class="tooltip-wrapper">
        <img
          src="../assets/media/numbers_for_calendar/18.png"
          class="card-img-top"
          alt="Day 18"
        />
      </div>
      <div class="card-body"></div>
    </div>
  </div>
  <!-- Day 19 -->
  <div class="col">
    <div
      class="card calendar-day btn disabled"
      data-bs-toggle="modal"
      data-bs-target="#day19"
    >
      <div class="tooltip-wrapper">
        <img
          src="../assets/media/numbers_for_calendar/19.png"
          class="card-img-top"
          alt="Day 19"
        />
      </div>
      <div class="card-body"></div>
    </div>
  </div>
  <!-- Day 20 -->
  <div class="col">
    <div
      class="card calendar-day btn disabled"
      data-bs-toggle="modal"
      data-bs-target="#day20"
    >
      <div class="tooltip-wrapper">
        <img
          src="../assets/media/numbers_for_calendar/20.png"
          class="card-img-top"
          alt="Day 20"
        />
      </div>
      <div class="card-body"></div>
    </div>
  </div>
  <!-- Day 21 -->
  <div class="col">
    <div
      class="card calendar-day btn disabled"
      data-bs-toggle="modal"
      data-bs-target="#day21"
    >
      <div class="tooltip-wrapper">
        <img
          src="../assets/media/numbers_for_calendar/21.png"
          class="card-img-top"
          alt="Day 21"
        />
      </div>
      <div class="card-body"></div>
    </div>
  </div>
  <!-- Day 22 -->
  <div class="col">
    <div
      class="card calendar-day btn disabled"
      data-bs-toggle="modal"
      data-bs-target="#day22"
    >
      <div class="tooltip-wrapper">
        <img
          src="../assets/media/numbers_for_calendar/22.png"
          class="card-img-top"
          alt="Day 22"
        />
      </div>
      <div class="card-body"></div>
    </div>
  </div>
  <!-- Day 23 -->
  <div class="col">
    <div
      class="card calendar-day btn disabled"
      data-bs-toggle="modal"
      data-bs-target="#day23"
    >
      <div class="tooltip-wrapper">
        <img
          src="../assets/media/numbers_for_calendar/23.png"
          class="card-img-top"
          alt="Day 23"
        />
      </div>
      <div class="card-body"></div>
    </div>
  </div>
  <!-- Day 24 -->
  <div class="col">
    <div
      class="card calendar-day btn disabled"
      data-bs-toggle="modal"
      data-bs-target="#day24"
    >
      <div class="tooltip-wrapper">
        <img
          src="../assets/media/numbers_for_calendar/24.png"
          class="card-img-top"
          alt="Day 24"
        />
      </div>
      <div class="card-body"></div>
    </div>
  </div>
  <!-- Day 25 -->
  <div class="col">
    <div
      class="card calendar-day btn disabled"
      data-bs-toggle="modal"
      data-bs-target="#day25"
    >
      <div class="tooltip-wrapper">
        <img
          src="../assets/media/numbers_for_calendar/25.png"
          class="card-img-top"
          alt="Day 25"
        />
      </div>
      <div class="card-body"></div>
    </div>
  </div>
</div>
