<div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
  <!-- Day 1 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/1.webp" alt="Day 1" />
        </div>
        <div class="flip-back">
          <img
            src="assets/media/card_reverse_images/day1_cookie.webp"
            alt="Favicon"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 2 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/2.webp" alt="Day 2" />
        </div>
        <div class="flip-back">
          <img
            src="assets/media/card_reverse_images/day2_castle.webp"
            alt="Favicon"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 3 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/3.webp" alt="Day 3" />
        </div>
        <div class="flip-back">
          <img
            src="assets/media/card_reverse_images/day3_hug.webp"
            alt="Favicon"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 4 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/4.webp" alt="Day 4" />
        </div>
        <div class="flip-back">
          <img
            src="assets/media/card_reverse_images/day4_sock.webp"
            alt="Favicon"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 5 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/5.webp" alt="Day 5" />
        </div>
        <div class="flip-back">
          <img
            src="assets/media/card_reverse_images/day5_volunteer.webp"
            alt="Favicon"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 6 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/6.webp" alt="Day 6" />
        </div>
        <div class="flip-back">
          <img
            src="assets/media/card_reverse_images/day6_santa.webp"
            alt="Favicon"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 7 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/7.webp" alt="Day 7" />
        </div>
        <div class="flip-back">
          <img
            src="assets/media/card_reverse_images/day7_candy.webp"
            alt="Favicon"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 8 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/8.webp" alt="Day 8" />
        </div>
        <div class="flip-back">
          <img
            src="assets/media/card_reverse_images/day8_cake.webp"
            alt="Favicon"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 9 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/9.webp" alt="Day 9" />
        </div>
        <div class="flip-back">
          <img
            src="assets/media/card_reverse_images/day9_croissant.webp"
            alt="Favicon"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 10 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/10.webp" alt="Day 10" />
        </div>
        <div class="flip-back">
          <img
            src="assets/media/card_reverse_images/day10_fist.webp"
            alt="Favicon"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 11 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/11.webp" alt="Day 11" />
        </div>
        <div class="flip-back">
          <img
            src="assets/media/card_reverse_images/day11_dance.webp"
            alt="Favicon"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 12 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/12.webp" alt="Day 12" />
        </div>
        <div class="flip-back">
          <img
            src="assets/media/card_reverse_images/day12_house.webp"
            alt="Favicon"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 13 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/13.webp" alt="Day 13" />
        </div>
        <div class="flip-back">
          <img
            src="assets/media/card_reverse_images/day13_cocoa.webp"
            alt="Favicon"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 14 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/14.webp" alt="Day 14" />
        </div>
        <div class="flip-back">
          <img
            src="assets/media/card_reverse_images/day14_monkey.webp"
            alt="Favicon"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 15 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/15.webp" alt="Day 15" />
        </div>
        <div class="flip-back">
          <img
            src="assets/media/card_reverse_images/day15_tea.webp"
            alt="Favicon"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 16 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/16.webp" alt="Day 16" />
        </div>
        <div class="flip-back">
          <img
            src="assets/media/card_reverse_images/day16_toy.webp"
            alt="Favicon"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 17 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/17.webp" alt="Day 17" />
        </div>
        <div class="flip-back">
          <img
            src="assets/media/card_reverse_images/day17_dragon.webp"
            alt="Favicon"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 18 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/18.webp" alt="Day 18" />
        </div>
        <div class="flip-back">
          <img
            src="assets/media/card_reverse_images/day18_migrant.webp"
            alt="Favicon"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 19 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/19.webp" alt="Day 19" />
        </div>
        <div class="flip-back">
          <img src="assets/images/favicon.webp" alt="Favicon" />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 20 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/20.webp" alt="Day 20" />
        </div>
        <div class="flip-back">
          <img
            src="assets/media/card_reverse_images/day20_handshake.webp"
            alt="Favicon"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 21 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/21.webp" alt="Day 21" />
        </div>
        <div class="flip-back">
          <img
            src="assets/media/card_reverse_images/day21_bed.webp"
            alt="Favicon"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 22 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/22.webp" alt="Day 22" />
        </div>
        <div class="flip-back">
          <img src="assets/images/favicon.webp" alt="Favicon" />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 23 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/23.webp" alt="Day 23" />
        </div>
        <div class="flip-back">
          <img
            src="assets/media/card_reverse_images/day23_popcorn.webp"
            alt="Favicon"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 24 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/24.webp" alt="Day 24" />
        </div>
        <div class="flip-back">
          <img
            src="assets/media/card_reverse_images/day24_christmaseve.webp"
            alt="Favicon"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 25 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/25.webp" alt="Day 25" />
        </div>
        <div class="flip-back">
          <img src="assets/images/favicon.webp" alt="Favicon" />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 26 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/26.webp" alt="Day 26" />
        </div>
        <div class="flip-back">
          <img
            src="assets/media/card_reverse_images/day26_kwanzaa.webp"
            alt="Kwanzaa"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 27 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/27.webp" alt="Day 27" />
        </div>
        <div class="flip-back">
          <img src="assets/images/favicon.webp" alt="Favicon" />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 28 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/28.webp" alt="Day 28" />
        </div>
        <div class="flip-back">
          <img
            src="assets/media/card_reverse_images/day28_call-a-friend.webp"
            alt="Call a friend day"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 29 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/29.webp" alt="Day 29" />
        </div>
        <div class="flip-back">
          <img src="assets/images/favicon.webp" alt="Favicon" />
        </div>
      </div>
    </div>
  </div>

  <!-- Day 30 -->
  <div class="col mb-4">
    <div class="flip-container card calendar-day btn disabled">
      <div class="flip-inner tooltip-wrapper">
        <div class="flip-front">
          <img src="assets/media/numbers_for_calendar/30.webp" alt="Day 30" />
        </div>
        <div class="flip-back">
          <img
            src="assets/media/card_reverse_images/day30_bacon.webp"
            alt="National Bacon Day"
          />
        </div>
      </div>
    </div>
  </div>
  <!-- Day 31 -->
  <div class="card-31">
    <div class="col mb-4 px-0">
      <div class="flip-container card calendar-day btn disabled">
        <div class="flip-inner tooltip-wrapper">
          <div class="flip-front">
            <img src="assets/media/numbers_for_calendar/31.webp" alt="Day 31" />
          </div>
          <div class="flip-back">
            <img
              src="assets/media/card_reverse_images/day31_happy-new-year.webp"
              alt="New Year"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
