<div class="modal fade" id="instructionsModal" tabindex="-1" aria-labelledby="instructionsModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-0"
        style="background-image: url(assets/media/images_for_days/instructions_welcome.webp); background-position: 75% 40%;">
        <div class="d-flex align-items-center mx-auto mb-3">
          <div class="modal-title text-white text-shadow text-center rounded p-3 mb-5" id="instructionsModalLabel">
            Instructions
          </div>
        </div>
        <button type="button" class="btn-close-custom" data-bs-dismiss="modal" aria-label="Close">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="modal-body" id="instructions-content">
        <!-- Instructions content will be loaded here -->
        <p>Welcome to Magic December! To use the site, you can click on the cards for each day to find out about
          festivals or celebrations taking place on that day.</p>
        <p>Be sure to click and hold on each card for a few seconds to view the full animated effect!</p>
        <p>If you would like to mute the sound effect, please click the volume icon just below the page title.</p>
        <p>If you would like to visit the GitHub Repo, please click the GitHub icon next to the volume button.</p>
      </div>
    </div>
  </div>
</div>