<div class="modal-header align-items-center justify-content-between py-5"
  style="background-image: url('assets/media/images_for_days/day12_gingerbreadhouse.webp'); background-position: center;">
  <div class="d-flex align-items-center mx-auto">
    <div class="modal-title text-white text-shadow text-center rounded p-3" id="day12Label">
      Gingerbread House Day
    </div>
  </div>
  <button type="button" class="btn-close-custom" data-bs-dismiss="modal" aria-label="Close">
    <i class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <p>Celebrate your creativity on Gingerbread House Day this December 12! Whether you're a seasoned baker or a curious
    beginner, join in the festive fun of crafting and decorating your own enchanting gingerbread house, inspired by
    delightful European traditions and the whimsical tale of "Hansel and Gretel"!</p>
  <div class="collapse" id="readMore12">
    <div class="card-body">
      <p>Gingerbread House Day, celebrated on December 12, is a delightful occasion that invites everyone to unleash
        their creativity by building and decorating gingerbread houses. With origins rooted in European traditions and
        the enchanting tale of "Hansel and Gretel," this festive day encourages both seasoned bakers and novices to
        enjoy the sweet rewards of their efforts, making it a fun-filled celebration for all ages.</p>

      <h5>History of Gingerbread House Day</h5>
      <p>The tradition of baking gingerbread dates back centuries, with professional bakers in the 17th century
        crafting these sweet treats, particularly during Christmas and Easter. The popularity of gingerbread houses
        took off in the early 1800s in Germany, inspired by the Brothers Grimm's fairy tale "Hansel and Gretel," where
        a witch lures children to her candy-covered home. German immigrants later brought this charming custom to
        America, where it has since become a beloved holiday activity.</p>

      <h5>Gingerbread House Day Activities</h5>
      <ul>
        <li>Bake a Gingerbread House from Scratch: Making gingerbread dough is surprisingly simple! Gather spices like
          ground ginger, cinnamon, and cloves, along with molasses, and create your own edible masterpiece. If you
          have extra dough, why not whip up some gingerbread men and women as well?</li>
        <li>Host a Gingerbread House Competition: Gather friends for a fun-filled competition! Provide gingerbread
          pieces, white frosting, and an assortment of colourful candies, then see who can create the most beautifully
          decorated house while enjoying festive tunes.</li>
        <li>Enjoy a Gingerbread Latte: Warm up with a delicious gingerbread latte! You can easily make your own by
          mixing gingerbread syrup with espresso and topping it off with warm milk for a festive treat.</li>
      </ul>

      <h5>Why We Love Gingerbread House Day</h5>
      <p>Gingerbread House Day has fairy tale origins, thanks to the Brothers Grimm, who popularised gingerbread
        houses through their enchanting stories. This day also brings out our inner child, allowing us to indulge in a
        creative and edible arts-and-crafts project that’s sure to spark joy during the festive season. Plus, with
        ginger's health benefits—such as aiding digestion and reducing inflammation—you can enjoy this sweet treat
        with a little less guilt!</p>

    </div>
  </div>
  <button class="btn btn-secondary read_more" type="button" data-bs-toggle="collapse" data-bs-target="#readMore12"
    aria-expanded="false" aria-controls="readMore12">
    Read more
  </button>
</div>