<div class="modal-header align-items-center justify-content-between py-5"
  style="background-image: url('assets/media/images_for_days/day17_bhutan.webp'); background-position: center;">
  <div class="d-flex align-items-center mx-auto">
    <div class="modal-title text-white text-shadow text-center rounded p-3" id="day17Label">
      Bhutan National Day
    </div>
  </div>
  <button type="button" class="btn-close-custom" data-bs-dismiss="modal" aria-label="Close">
    <i class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <p>
    Join the vibrant celebrations of Bhutan National Day on 17 December, a spectacular occasion that commemorates
    the coronation of the first king, Ugyen Wangchuck, and the rich heritage of this enchanting nation. Discover
    the
    fascinating history, traditions, and festivities that make this holiday a cherished event for Bhutanese people
    and visitors alike!
  </p>
  <div class="collapse" id="readMore17">
    <div class="card-body">
      <p>
        Bhutan National Day is a vibrant occasion that commemorates the
        coronation of the first king of Bhutan, Ugyen Wangchuck, in 1907. This significant holiday transforms the
        Changlimithang Stadium into a hub of festivities, where Bhutanese people gather to honour their rich history
        and the establishment of the monarchy that continues to shape their nation today.
      </p>
      <h5>History of Bhutan National Day</h5>
      <p>
        The roots of Bhutan National Day trace back to the early 17th century when the country was unified under the
        guidance of Buddhist monk Ngawang Namgyal. However, it was Ugyen Wangchuck, the Ponlop of Tongsa, who emerged
        as a pivotal figure in the late 19th century, uniting Bhutan and establishing a monarchy after abolishing the
        previous dual system of governance. His coronation on 17 December 1907 marked the beginning of the Wangchuck
        dynasty, which still reigns today as a symbol of stability and unity for the Bhutanese people.
      </p>
      <h5>How to Observe Bhutan National Day</h5>
      <ul>
        <li>Shut Down Your Office: Join in on this nationwide celebration by taking a break from work and immersing
          yourself in the festivities.</li>
        <li>Prepare to Welcome Guests: The day is filled with preparations across various venues, including the Palace
          of the Druk and Changlimithang Ground, where everyone comes together to celebrate.</li>
        <li>Visit Changlimithang Ground: Experience the excitement firsthand by attending the celebrations at this
          iconic venue, where dignitaries and locals gather for a day of joy.</li>
      </ul>
      <h5>Fascinating Facts About Bhutan National Day</h5>
      <ol>
        <li>Commemorates a Historic Coronation: The day serves as a reminder of Ugyen Wangchuck's bold steps towards
          unifying Bhutan.</li>
        <li>Celebrated Annually Since 1907: This national holiday has been observed for over a century, marking 114
          celebrations to date.</li>
        <li>International Attendance: Delegates from around the world come to join in on this momentous occasion.</li>
        <li>Changlimithang Ground's Legacy: This stadium has been a central site for National Day celebrations since
          its construction in 1974.</li>
        <li>Processions Featuring Ugyen Wangchuck's Statue: His statue is carried during processions, symbolising his
          lasting legacy as Bhutan's first Druk Gyalpo.</li>
      </ol>
      <p>
        Bhutan National Day is not just a public holiday; it’s a heartfelt celebration that brings together
        communities
        to reflect on their shared history and look forward to their future as one nation under the Dragon King.
      </p>

    </div>
  </div>
  <button class="btn btn-secondary read_more" type="button" data-bs-toggle="collapse" data-bs-target="#readMore17"
    aria-expanded="false" aria-controls="readMore17">
    Read more
  </button>
</div>