<div class="modal-header" id="not_a_holiday">
  <h4 class="modal-title" id="day2Label" style="font-size: 1.5rem; line-height: 1.3;">
    Break Time!
  </h4>
  <button type="button" class="btn-close-custom" data-bs-dismiss="modal" aria-label="Close">
    <i class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <p>Thank you for checking out our month of holidays and festivals so far! We'd like to take a break from telling you
    about these celebrations to enjoy some fun, holiday-themed GIFs!</p>
  <img src="assets/media/gifs_for_non-holiday_days/elfmovie.webp" alt="A GIF from the movie 'Elf'">
  <img src="assets/media/gifs_for_non-holiday_days/holidaydrake.webp"
    alt="A humorous GIF of Drake celebrating the holidays">
  <img src="assets/media/gifs_for_non-holiday_days/treelightscat.webp" alt="A GIF of a cat covered in christmas lights">
</div>