<div class="modal-header align-items-center justify-content-between py-5"
  style="background-image: url('assets/media/images_for_days/day18_migrants.webp'); background-position: center;">
  <div class="d-flex align-items-center mx-auto">
    <div class="modal-title text-white text-shadow text-center rounded p-3" id="day18Label">
      International Migrants Day
    </div>
  </div>
  <button type="button" class="btn-close-custom" data-bs-dismiss="modal" aria-label="Close">
    <i class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <p>Join us in celebrating International Migrants Day on 18 December, a day dedicated to honouring the resilience and
    contributions of migrants who enrich our societies. Discover the fascinating history of migration, the challenges
    faced by those seeking a better life, and how you can make a difference in their lives!

  </p>
  <div class="collapse" id="readMore18">
    <div class="card-body">
      <p>
        International Migrants Day, observed annually on 18 December, shines a spotlight on the protection of
        migrants' human rights and celebrates their invaluable contributions to societies worldwide.<br><br>
        Since time immemorial, humans have been on the move, seeking greener pastures for food, water, and shelter.
        Sometimes, conflict forced people to leave their homelands in search of new beginnings. As borders were drawn
        and nations formed, migrants often played a pivotal role in shaping new countries. Take the United States, for
        instance, established by English migrants seeking religious freedom. Between 1900 and 1915, a whopping 15
        million migrants made their way to American shores from various corners of the globe.
      </p>
      <h5>Notable Migrations Throughout History</h5>
      <ul>
        <li>1944: 700,000 people fled Chechnya for Central Asia to escape Joseph Stalin's regime.</li>
        <li>1947-1950: Over 15 million people moved between India and Pakistan due to religious conflicts.</li>
        <li>1948-1950: 2 million Chinese migrants left China for Taiwan and other countries to escape communism.</li>
        <li>1882-present: 3.6 million Jews have returned to their homeland, Israel, from all over the world.</li>
      </ul>
      <p>
        While migrants often leave their familiar surroundings in search of a better life, they frequently face a host
        of challenges in their new homes. These can include language barriers, poverty, employment difficulties,
        discrimination, inadequate housing, and transportation issues. Access to economic assistance and healthcare
        can
        also prove tricky.
      </p>
      <h5>How to Celebrate International Migrants Day</h5>
      <ul>
        <li>Ponder how your country might be different without migrants</li>
        <li>Explore your family's migration history</li>
        <li>Chat with someone who has migrated to learn about their experiences</li>
        <li>Watch enlightening documentaries about migration, such as '4.1 Miles' or 'Human Flow'</li>
        <li>Learn about famous migrants who've made significant contributions to their adopted countries</li>
        <li>Spread awareness on social media using #MigrantsDay</li>
      </ul>
      <p>
        The United Nations General Assembly proclaimed 18 December as International Migrants Day on 4 December 2000,
        recognising the growing number of migrants worldwide. The date marks the adoption of the International
        Convention on the Protection of the Rights of All Migrant Workers and Members of their Families in
        1990.<br><br>
        So, let's raise a cuppa to the diverse tapestry of humanity and the incredible journeys that have shaped our
        world!
      </p>
    </div>
  </div>
  <button class="btn btn-secondary read_more" type="button" data-bs-toggle="collapse" data-bs-target="#readMore18"
    aria-expanded="false" aria-controls="readMore18">
    Read more
  </button>
</div>