<div class="modal-header align-items-center justify-content-between py-5"
  style="background-image: url('assets/media/images_for_days/day1_cookies.webp'); background-position: 50% 25%;">
  <div class="d-flex align-items-center mx-auto">
    <div class="modal-title text-white text-shadow text-center rounded p-3" id="day1Label">
      National Cookie Cutter Day: <br>A Sweet Celebration of Creativity!
    </div>
  </div>
  <button type="button" class="btn-close-custom" data-bs-dismiss="modal" aria-label="Close">
    <i class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body p-4">
  <p>Celebrate National Cookie Cutter Day on December 1st by unleashing your creativity in the kitchen! Gather your
    favourite cookie cutters and bake delightful, fun-shaped cookies to share with family and friends, making sweet
    memories together.</p>
  <div class="collapse" id="readMore1">
    <div class="card-body">
      <p>National Cookie Cutter Day is a delightful holiday celebrated on December 1st that brings joy and creativity
        to kitchens everywhere. Founded by Bobbi Barton in 2019, this special day celebrates the art of making
        fun-shaped cookies and the magic of cookie cutters.</p>

      <h5>A Delicious History</h5>
      <p>Cookie cutters have a fascinating history that stretches back thousands of years! Ancient Egyptians used
        ceramic and wooden cookie cutters as early as 2000 BCE. The popularity of shaped cookies really took off in
        the 16th century, particularly with gingerbread cookies served at Queen Elizabeth I's court.</p>

      <h5>Fun Ways to Celebrate</h5>
      <p>Get ready to have a blast on National Cookie Cutter Day with these awesome activities:</p>
      <ul>
        <li>Bake Creative Cookies: Pull out your favourite cookie cutters and create magical shapes</li>
        <li>Host a Cookie Decorating Party: Invite friends and family to decorate cookies together</li>
        <li>Explore Unique Cookie Cutters: Discover new and exciting shapes to make your cookies stand out</li>
        <li>Get Crafty: Use cookie cutters for more than just baking - try making decorations or craft projects</li>
      </ul>

      <h5>Interesting Cookie Cutter Facts</h5>
      <ul>
        <li>The first cookie-cutter patent in the United States was granted to Alexander P. Ashbourne in 1875</li>
        <li>Americans consume over two billion cookies every year</li>
        <li>The average American will eat 35,000 cookies in their lifetime</li>
      </ul>
    </div>
  </div>
  <button class="btn btn-secondary read_more" type="button" data-bs-toggle="collapse" data-bs-target="#readMore1"
    aria-expanded="false" aria-controls="readMore1">
    Read more
  </button>
</div>