<div class="modal-header align-items-center justify-content-between py-5"
  style="background-image: url('assets/media/images_for_days/day10_humanrights.webp'); background-position: 50% 25%;">
  <div class="d-flex align-items-center mx-auto">
    <div class="modal-title text-white text-shadow text-center rounded p-3" id="day10Label">
      International Human Rights Day
    </div>
  </div>
  <button type="button" class="btn-close-custom" data-bs-dismiss="modal" aria-label="Close">
    <i class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <p>Human Rights Day, observed on December 10, commemorates the adoption of the Universal Declaration of Human
    Rights by the United Nations General Assembly in 1948. This pivotal document, available in over 500 languages,
    serves as a beacon for promoting dignity, freedom, and equality for all individuals, reminding us of the
    importance of human rights in fostering a fair and just society.</p>
  <div class="collapse" id="readMore10">
    <div class="card-body">
      <h5>History of Human Rights Day</h5>
      <p>Human Rights Day marks the anniversary of the Universal Declaration of Human Rights, which was adopted in
        1948. The significance of this day was highlighted by the issuance of a commemorative stamp by the United
        Nations Postal Administration in 1952, which received over 200,000 advance orders. The Declaration aims to
        establish a universal standard of living that every individual is entitled to, encouraging all UN member
        states to strive towards this ideal. Although these rights are not legally binding, they have significantly
        influenced global perceptions of human rights and have been a force for positive change.</p>

      <p>Each year, Human Rights Day features a different theme; for instance, "Every Day is Human Rights Day" was the
        theme in 2014, while "Stand up for someone’s rights today" was highlighted in 2016. This day serves as a
        reminder to embrace equality and acknowledge our shared humanity.</p>

      <h5>How to Observe Human Rights Day</h5>
      <ul>
        <li>Donate to a Human Rights Charity: Consider supporting a charity that resonates with you by making a
          donation.</li>
        <li>Attend Events: Participate in political conferences, exhibitions, or cultural events that promote human
          rights awareness.</li>
        <li>Show Your Support Online: Engage in discussions or share posts on social media to raise awareness about
          human rights issues.</li>
      </ul>

      <h5>Five Facts About Human Rights</h5>
      <ol>
        <li>Leading by Example: King Cyrus II of Persia established principles of freedom and equality that resonate
          with human rights today.</li>
        <li>Know Your Rights: Article 24 of the Universal Declaration of Human Rights guarantees everyone the right to
          leisure and paid holidays.</li>
        <li>Child Soldiers: Approximately 250,000 children are involved as soldiers globally, with many suffering
          severe abuses.</li>
        <li>Women’s Suffrage Movement: The fight for women's voting rights spanned 17 years and involved significant
          protests led by figures like Susan B. Anthony.</li>
        <li>Child Marriage: UNICEF reports that around 12 million girls are married before the age of 16 each year.
        </li>
      </ol>

      <h5>Why Human Rights Day is Important</h5>
      <p>Human Rights Day underscores the fundamental belief that every individual deserves fair treatment, dignity,
        and respect. It highlights our progress toward equality while reminding us that there is still much work to be
        done. This day promotes unity among nations, as it was initially agreed upon by 48 member states who shared a
        common vision for a better world for all.</p>

    </div>
  </div>
  <button class="btn btn-secondary read_more" type="button" data-bs-toggle="collapse" data-bs-target="#readMore10"
    aria-expanded="false" aria-controls="readMore10">
    Read more
  </button>
</div>