<div class="modal-header align-items-center justify-content-between py-5"
  style="background-image: url('assets/media/images_for_days/day11_tangodance.webp'); background-position: 50% 25%;">
  <div class="d-flex align-items-center mx-auto">
    <div class="modal-title text-white text-shadow text-center rounded p-3" id="day11Label">
      International Tango Day
    </div>
  </div>
  <button type="button" class="btn-close-custom" data-bs-dismiss="modal" aria-label="Close">
    <i class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <p>Ignite your passion on National Tango Day, where Argentina's sultry dance takes centre stage! Experience the magic
    of tango as it weaves together captivating rhythms, deep emotions, and cultural heritage, inviting you to join a
    global celebration that transcends borders and speaks the universal language of dance!

  </p>
  <div class="collapse" id="readMore11">
    <div class="card-body">
      <p>National Tango Day is a vibrant celebration of Argentina's most beloved dance form, honouring its captivating
        movements and rich cultural heritage. This day not only showcases the tango's ability to convey deep emotions
        and stories but also highlights its power to connect people across the globe, transcending language and
        borders.</p>

      <h5>How to Celebrate National Tango Day</h5>
      <ul>
        <li>Take a Tango Class: Step out of your comfort zone and join a local tango class, perfect for beginners and
          seasoned dancers alike. It's a fantastic way to learn some new moves while having fun!</li>
        <li>Host a Tango-Themed Party: Invite friends over for a tango-inspired gathering, complete with sultry music,
          Argentine snacks, and plenty of space for dancing. Transform your home into a mini Buenos Aires for the
          evening!</li>
        <li>Watch a Tango Show: If dancing isn’t your thing, enjoy a live tango performance or a classic tango film
          from the comfort of your sofa. Sit back and admire the artistry of the dancers while enjoying some popcorn.
        </li>
        <li>Explore Tango Music: Dive into the world of tango music by listening to legendary artists like Carlos
          Gardel or discovering contemporary interpretations. Let the rhythms inspire you to dance around your living
          room!</li>
        <li>Tango in the Streets: Feeling adventurous? Join outdoor tango events in your city where dancers of all
          levels come together to celebrate this beautiful dance under the open sky.</li>
      </ul>

      <h5>History of National Tango Day</h5>
      <p>National Tango Day was established to honour two iconic figures in Argentine tango: Carlos Gardel and Julio
        De Caro, who share a birthday. The idea originated from Ben Molar, a passionate composer, who proposed an
        official day to celebrate tango's significance in Argentine culture. After gaining approval from the Buenos
        Aires government in the 1970s, December 11 was designated as National Tango Day, allowing people worldwide to
        appreciate this expressive dance form.</p>

      <p>Today, National Tango Day not only celebrates the music and dance but also embraces the rich cultural history
        associated with tango, bringing people together in joy and connection.</p>

    </div>
  </div>
  <button class="btn btn-secondary read_more" type="button" data-bs-toggle="collapse" data-bs-target="#readMore11"
    aria-expanded="false" aria-controls="readMore11">
    Read more
  </button>
</div>