<div class="modal-header align-items-center justify-content-between py-5"
  style="background-image: url('assets/media/images_for_days/day19_break.webp'); background-position: 50% 65%;">
  <div class="d-flex align-items-center mx-auto">
    <div class="modal-title text-white text-shadow text-center rounded p-3" id="day19Label">
      Break Time!
    </div>
  </div>
  <button type="button" class="btn-close-custom" data-bs-dismiss="modal" aria-label="Close">
    <i class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body p-4">
  <p>Thank you for checking out our month of holidays and festivals so far! We'd like to take a break from telling you
    about these celebrations to enjoy some fun, holiday-themed GIF!</p>
  <img src="assets/media/gifs_for_non-holiday_days/elfmovie.webp" alt="A GIF from the movie 'Elf'">
</div>