<div class="modal-header align-items-center justify-content-between py-5"
  style="background-image: url('assets/media/images_for_days/day29_celebration.webp'); background-position: 50% 25%;">
  <div class="d-flex align-items-center mx-auto">
    <div class="modal-title text-white text-shadow text-center rounded p-3" id="day29Label">
      We are so close to the end!
    </div>
  </div>
  <button type="button" class="btn-close-custom" data-bs-dismiss="modal" aria-label="Close">
    <i class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <p>Even though we only have a few more holiday days left, we hope you've had a great time exploring the various
    festivals and celebrations of the season. Don't quit now though - we
    still have a few days left, including one very special day! Can you guess what it might be from the GIFs below?
  </p>
  <img src="assets/media/gifs_for_non-holiday_days/newyeardog.webp" alt="Dog at a party">
  <img src="assets/media/gifs_for_non-holiday_days/newyearwishes.webp" alt="New Year wishes for 2025">
</div>