<div class="modal-header align-items-center justify-content-between py-5"
    style="background-image: url('assets/media/images_for_days/day28_call-a-friend.webp'); background-position: 50% 25%;">
    <div class="d-flex align-items-center mx-auto">
        <div class="modal-title text-white text-shadow text-center rounded p-3" id="day28Label">
            National Call a Friend Day
        </div>
    </div>
    <button type="button" class="btn-close-custom" data-bs-dismiss="modal" aria-label="Close">
        <i class="fas fa-times"></i>
    </button>
</div>
<div class="modal-body">
    <p>
        National Call a Friend Day, celebrated on December 28, is a delightful reminder to reconnect with friends amidst
        the holiday hustle. As we transition from Christmas to the New Year, it’s the perfect time to pick up the phone
        and reach out to that friend you’ve been meaning to contact.
        In our fast-paced lives, technology can sometimes make us feel more isolated, despite being just a click away
        from each other. This special day encourages us to prioritise genuine conversations, as hearing a friend's voice
        can strengthen bonds and lift spirits.
        So why not take a few moments to call an old schoolmate, check in with a close friend, or even organise a group
        video chat? Celebrate the joy of friendship and make someone’s day by simply reaching out!
    </p>

    <div class="collapse" id="readMore27">
        <div class="card-body">
            <h5>History of National Call a Friend Day</h5>
            <p>Situated just between Christmas and New Year’s, National Call a Friend Day is meant to be a time between
                these
                two big days to make sure that friends stay connected. This is especially important for friends who
                don’t
                necessarily live near each other.<br>
                In today’s world of technology, even though in some ways it has the possibility to bring people
                together, people
                can feel more isolated than ever. Because social media only portrays the surface, it’s important to be
                sure that
                actual personal contact and connections are made through conversation. <br>
                Considering the fact that the holiday season is a time when many people struggle with depression and
                even
                suicidal ideations, it’s very important to try to stay connected. And voice-based communication is an
                important
                way that helps people feel seen and heard. <br>
                National Call a Friend Day is the time to reach out to friends with a phone call and connect with them.
                Let them
                know they are thought of and cared for, and catch up with what is going on in each others’ lives.</p>
            <h5>How to Celebrate National Call a Friend Day</h5>
            <p>Enjoy National Call a friend day with some of these ideas for celebrating:</p>
            <ul>
                <li>Call a Friend</li>
                <p>Of course, the first order of business on National Call a Friend Day is to go ahead and make that
                    phone call.
                    Even if it’s just a five minute call to check in to see how a friend is doing, or an hours long
                    catch up
                    after some time away. Relax and enjoy a phone call to a friend!</p>
                <li>Make a Playlist for National Call a Friend Day</li>
                <p>After calling a friend or two, don’t forget to create a soundtrack for National Call a Friend Day.
                    Perhaps it
                    could be a playlist of songs that bring up memories of a particular friend and could be shared with
                    them on
                    Spotify, Apple music or some other music platform. Or maybe it’s a fun playlist that is just about
                    friendship in general.</p>
            </ul>
            <br>
            <p>Get started making a playlist for National Call a Friend Day with some of these songs:</p>
            <ol>
                <li><b>I Just Called to Say I Love You</b> ~ <i>Stevie Wonder (1984).</i> Flash back into the eighties
                    when this
                    song scored number one on the Billboard Hot 100 chart for three weeks in a row.</li>
                <li><b>Whenever I Call You “Friend” </b> ~ <i>Kenny Loggins (1978).</i> A lovely look back at
                    friendship,
                    Loggins made a recording of this one as a duo with Stevie Nicks.</li>
                <li><b>Call My Friends</b> ~ <i>Shawn Mendes (2020).</i> Just a reminder that it’s good to call friends
                    when
                    things are difficult.</li>
                <li><b>You’ve Got a Friend </b> ~ <i>Carole King (1971).</i> First recorded by King on her album
                    Tapestry, the
                    version sung by James Taylor as well, and they both won Grammys for the song.</li>
            </ol>
            <p>Whether it's to catch up, reminisce about old times, or simply check in to see how someone is doing,
                National
                Call a Friend Day highlights the importance of maintaining personal relationships and the positive
                impact that
                friendships can have on our well-being. It serves as a reminder that a friendly voice, a shared laugh,
                or a
                heartfelt conversation can brighten someone's day and reinforce the bond of companionship. <br>
                <b>So, pick up the phone, dial a friend, and remind them how much they mean to you!</b>
            </p>
        </div>
    </div>
    <button class="btn btn-secondary read_more" type="button" data-bs-toggle="collapse" data-bs-target="#readMore27"
        aria-expanded="false" aria-controls="readMore27">
        Read more
    </button>

</div>