<div class="modal-header align-items-center justify-content-between py-5"
  style="background-image: url('assets/media/images_for_days/day23_movie.webp'); background-position: 50% 40%;">
  <div class="d-flex align-items-center mx-auto">
    <div class="modal-title text-white text-shadow text-center rounded p-3" id="day23Label">
      Celebrating National Christmas Movie Marathon Day
    </div>
  </div>
  <button type="button" class="btn-close-custom" data-bs-dismiss="modal" aria-label="Close">
    <i class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <p>
    Get ready to dive into the festive spirit with National Christmas Movie Marathon Day on December 23rd, the
    perfect
    excuse to snuggle up with loved ones and indulge in your favourite holiday films! Discover fun ways to
    celebrate,
    from hosting an ugly sweater screening to trying out unique festive snacks, and make this day a cherished part
    of
    your holiday traditions!
  </p>

  <div class="collapse" id="readMore23">
    <div class="card-body">
      <p>
        National Christmas Movie Marathon Day, observed on December 23rd, is the perfect excuse to get into the
        holiday
        spirit with a cozy movie marathon. This special day brings together the magic of Christmas and the joy of
        films,
        providing a fantastic opportunity to snuggle up with loved ones and watch your favourite holiday movies
        back-to-back.
      </p>
      <h5>Why It's Special?</h5>
      <p>This day is all about reliving those classic scenes that touch our hearts and add a special sparkle to the
        festive
        season. Whether you're laughing at the mischief in Home Alone or feeling the warmth of Miracle on 34th Street,
        it's
        a time to enjoy a mix of nostalgia, laughter, and warmth. Christmas movies are a key part of the holiday
        season,
        offering something for everyone to enjoy, from heartwarming classics to exciting new releases</h5>
      <h5>How to Celebrate?</h5>
      <ul>
        <h6>
          <li>Ugly Sweater Screening</li>
        </h6>
        <p>Host a screening where everyone wears their most outrageous Christmas sweaters. It's a fun way to add extra
          laughter and festive cheer to your movie marathon. Why not combine the humour of National Lampoon’s
          Christmas
          Vacation with a fashion statement?</p>
        <h6>
          <li>Festive Snacks</li>
        </h6>
        <p>Go beyond popcorn by challenging your guests to bring inventive Christmas-themed snacks, such as
          gingerbread
          popcorn or eggnog milkshakes. Have a vote to crown the snack champion and make it a fun competition.</p>
        <h5>
          <li>Global Holiday Hop</li>
        </h5>
        <p>Include Christmas movies from around the world in your marathon. This is a great way to travel the globe
          from
          your living room and experience how different cultures celebrate the holiday.</p>
        <h5>
          <li>DIY Cinema</li>
        </h5>
        <p>Transform your living room or backyard into a winter wonderland cinema. Use fairy lights, blankets, and hot
          cocoa
          to create a cozy atmosphere that rivals any movie theater. Enjoying your favourite holiday films under the
          stars
          or in a festively decorated room is truly enchanting</p>
      </ul>
      <h5>Historical Background</h5>
      <p>National Christmas Movie Marathon Day is a relatively new tradition that began in the early 2000s. It
        encourages
        people to take a break from the holiday rush and indulge in back-to-back viewings of their favourite Christmas
        films.<br><br>
        The history of Christmas movies dates back to 1898 with the first Christmas-themed film, Santa Claus, a silent
        short. Over the years, Christmas movies have evolved, including adaptations of A Christmas Carol and
        heartwarming
        films like It’s a Wonderful Life. The availability of home video in the 1980s and later streaming services
        have
        made
        it easier for families to enjoy these films anytime, not just when they are broadcast on TV</p>
      <h5>Making it Special</h5>
      <p>This day is not just about watching movies; it's about creating new memories and reliving cherished moments
        with
        family and friends. It brings warmth and nostalgia, uniting people in a shared experience of joy and
        entertainment.
        So, grab your favourite Christmas movies, get comfy, and let the marathon begin!<br><br>
        By celebrating National Christmas Movie Marathon Day, you're keeping the flame of Christmas spirit burning
        bright,
        one heartwarming scene at a time. Whether you're watching classics or new releases, this day is all about
        relaxation, fun, and creating new holiday traditions with your loved ones.
      </p>
      <h5>Recommended Christmas Movies</h5>
      <ol>
        <li>It’s a Wonderful Life (1946): A heartwarming tale about the value of life and community.</li>
        <li>Home Alone (1990): Join young Kevin as he hilariously defends his home from burglars.</li>
        <li>Elf (2003): Follow Buddy the Elf on his journey from the North Pole to New York City.</li>
        <li>The Muppet Christmas Carol (1992): A charming adaptation of Dickens' classic with beloved Muppet
          characters.
        </li>
        <li>Love Actually (2003): A romantic comedy that intertwines the lives of several couples during the festive
          season.
        </li>
      </ol>
      <h5>Why We Love National Christmas Movie Marathon Day?</h5>
      <p>This day is all about unwinding and enjoying the magic of Christmas through film. It provides an opportunity
        to
        connect with family traditions while introducing younger generations to classic holiday movies that have
        brought
        joy
        for decades. Plus, who can resist the universal appeal of festive films that bring people together across
        cultures?
        So grab your snacks, settle in, and let the holiday spirit fill your home!</p>
    </div>
  </div>
  <button class="btn btn-secondary read_more" type="button" data-bs-toggle="collapse" data-bs-target="#readMore23"
    aria-expanded="false" aria-controls="readMore23">
    Read more
  </button>

</div>