<div class="modal-header align-items-center justify-content-between py-5"
  style="background-image: url('assets/media/images_for_days/day22_confusion.webp'); background-position: 50% 25%;">
  <div class="d-flex align-items-center mx-auto">
    <div class="modal-title text-white text-shadow text-center rounded p-3" id="day22Label">
      Error: H0H0H0 - Content not Found!
    </div>
  </div>
  <button type="button" class="btn-close-custom" data-bs-dismiss="modal" aria-label="Close">
    <i class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <p>Believe it or not, we couldn't find any celebrations that were taking place on this date! Rather than disappoint
    you, we thought we would show you some more funny GIF.
    At least it's not long to go until Christmas Day!
  </p>
  <img src="assets/media/gifs_for_non-holiday_days/santasleigh.webp" alt="Santa on his sleigh">
</div>