<div class="modal-header">
  <h4 class="modal-title" id="day2Label" style="font-size: 1.5rem; line-height: 1.3;">
    Error: H0H0H0 - Content not Found!</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <p>Believe it or not, we couldn't find any celebrations that were taking place on this date! Rather than disappoint you, we thought we would show you some more funny GIFs.
      At least it's not long to go until Christmas Day!
    </p>
    <img src="/assets/media/gifs_for_non-holiday_days/santasleigh.webp" alt="Santa on his sleigh">
    <img src="/assets/media/gifs_for_non-holiday_days/happyelves.webp" alt="Some dancing elves">
    <img src="/assets/media/gifs_for_non-holiday_days/holidayspirit.webp" alt="A dancing woman getting into the holiday spirit">
  </div>