<div class="modal-header">
    <h4 class="modal-title" id="day2Label" style="font-size: 1.5rem; line-height: 1.3;">
      And with that: Christmas is over!</h4>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <p>We hope you had a wonderful Christmas-time, and plenty of delicious food! Don't feel too bad about Christmas being over though - we still have a few more days to celebrate,
        and New Year's Eve is coming soon!
      </p>
      <img src="assets/media/gifs_for_non-holiday_days/carltondancing.webp" alt="Dancing man in christmas sweater">
      <img src="assets/media/gifs_for_non-holiday_days/christmastreefail.webp" alt="A funny falling christmas tree">
      <img src="assets/media/gifs_for_non-holiday_days/santawaving.webp" alt="Santa waving goodbye">
    </div>