<div class="modal-header align-items-center justify-content-between py-5"
  style="background-image: url('assets/media/images_for_days/day27_christmasover.webp'); background-position: 50% 65%;">
  <div class="d-flex align-items-center mx-auto">
    <div class="modal-title text-white text-shadow text-center rounded p-3" id="day27Label">
      And with that: <br> Christmas is over!
    </div>
  </div>
  <button type="button" class="btn-close-custom" data-bs-dismiss="modal" aria-label="Close">
    <i class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <p>We hope you had a wonderful Christmas-time, and plenty of delicious food! Don't feel too bad about Christmas being
    over though - we still have a few more days to celebrate,
    and New Year's Eve is coming soon!
  </p>
  <img src="assets/media/gifs_for_non-holiday_days/carltondancing.webp" alt="Dancing man in christmas sweater">
</div>