<div class="modal-header align-items-center justify-content-between py-5"
  style="background-image: url('assets/media/images_for_days/day24_christmaseve.webp'); background-position: 50% 60%;">
  <div class="d-flex align-items-center mx-auto">
    <div class="modal-title text-white text-shadow text-center rounded p-3" id="day24Label">
      Christmas Eve
    </div>
  </div>
  <button type="button" class="btn-close-custom" data-bs-dismiss="modal" aria-label="Close">
    <i class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <p>
    Christmas Eve is a magical night filled with anticipation and warmth, as families come together to celebrate the
    birth of Jesus and create cherished memories. It’s a time to enjoy festive traditions, share delicious meals,
    and
    embrace the spirit of giving, making it the perfect occasion to gather with loved ones and revel in the joy of
    the
    season!
  </p>

  <div class="collapse" id="readMore24">
    <div class="card-body">
      <p>
        Christmas Eve, celebrated on December 24th, is one of the most magical nights of the year, bringing families and
        friends together to warm our hearts and remind us of all we have to be thankful for. So, slip into your cosy
        PJs,
        light up the fireplace, and enjoy a steaming mug of hot cocoa topped with fluffy marshmallows as you prepare for
        the
        festivities ahead!
      </p>
      <h5>A Brief History of Christmas Eve</h5>
      <p>The tradition of celebrating Christmas Eve has roots in Christian liturgy, which begins at sunset and draws
        from
        Jewish customs. It’s believed that Jesus was born at midnight in Bethlehem, making this night particularly
        significant. As the Advent season comes to an end, it’s said that shepherds witnessed the bright star announcing
        His
        birth.<br><br>
        Throughout history, various customs have emerged around Christmas Eve. In some European cultures, it’s believed
        that
        animals can speak at midnight, while in Scandinavian countries, it’s thought that the spirits of the departed
        return
        home for a visit. These enchanting beliefs add a layer of magic to the night.
      </p>
      <h5>Modern Celebrations</h5>
      <p>Christmas Eve has evolved into a day filled with family traditions, including festive dinners, decorating
        trees,
        and wrapping gifts. The arrival of Santa Claus has also transformed this night into one where children leave out
        cookies and milk in anticipation of his visit. Many churches celebrate this special evening with midnight
        services,
        making it a cherished time for reflection and celebration.</p>
      <h5>Christmas Eve Traditions Around the World</h5>
      <p>Different cultures have their own unique ways of celebrating Christmas Eve. For instance:</p>
      <ul>
        <li>In Switzerland, children await the Christchild who brings presents.</li>
        <li>In Denmark, it's the Christmas elf who delivers gifts.</li>
        <li>In Latvia, presents are opened after dinner with a little poem recited first.</li>
      </ul>
      <h5>Fun Facts About Christmas Eve</h5>
      <ul>
        <li>In 2018, 32.8 million real Christmas trees were sold in America.</li>
        <li>Nearly 1 billion cookies are left out for Santa worldwide each year.</li>
        <li>Santa would need to travel at about 1,800 miles per second to deliver presents to all households in one
          night!
        </li>
      </ul>
      <p>
        As you gather with loved ones this Christmas Eve, take a moment to appreciate the warmth and joy that this
        special
        night brings. Whether you’re indulging in traditional customs or creating new memories, Christmas Eve is truly a
        time for celebration and togetherness!
      </p>
    </div>
  </div>
  <button class="btn btn-secondary read_more" type="button" data-bs-toggle="collapse" data-bs-target="#readMore24"
    aria-expanded="false" aria-controls="readMore24">
    Read more
  </button>
</div>