<div class="modal-header align-items-center justify-content-between py-5"
    style="background-image: url('assets/media/images_for_days/day26_kwanzaa.webp'); background-position: 50% 25%;">
    <div class="d-flex align-items-center mx-auto">
        <div class="modal-title text-white text-shadow text-center rounded p-3" id="day26Label">
            Kwanzaa
        </div>
    </div>
    <button type="button" class="btn-close-custom" data-bs-dismiss="modal" aria-label="Close">
        <i class="fas fa-times"></i>
    </button>
</div>
<div class="modal-body">
    <p>
        Kwanzaa is a special holiday that celebrates African American culture, bringing families and communities
        together in unity. Over seven days, you reflect on principles like self-determination and creativity,
        fostering
        a deep connection to your roots.
        Imagine gathering with loved ones, lighting candles that symbolize hope, sharing delicious meals, and
        exchanging
        meaningful gifts. Kwanzaa is a heartfelt reminder of the strength found in community and the importance
        of
        honouring our ancestors. Join in the festivities to experience the joy of togetherness and celebrate
        life!
    </p>

    <div class="collapse" id="readMore26">
        <div class="card-body">
            <p>
                Kwanzaa is a week-long celebration, more of a marathon than a one-day sprint. This annual holiday is
                observed in
                nations with African diaspora populations, celebrating their rich cultural contributions. <br>
                The roots of Kwanzaa trace back to ancient African "first fruits" harvest celebrations. While specifics
                varied
                across cultures, they shared core values like community gatherings, gratitude to Creator(s), and
                commitment to
                expanding African cultural thought. <br>
                The modern Kwanzaa emerged from the Black Freedom Movement in 1966 in the United States. Dr Maulana
                Karenga, a
                Black Studies professor, established it as a means to unite African Americans following the Civil Rights
                Movement. The name "Kwanzaa" comes from the Swahili phrase "matunda ya kwanza", meaning "first fruits".
                <br>
                Initially introduced as an alternative to Christmas, Dr Karenga later clarified it wasn't meant to
                replace
                religious holidays but to enhance celebrations. By 2004, an estimated 28 million African Americans
                celebrated
                Kwanzaa.
            </p>
            <h5>How to Celebrate Kwanzaa</h5>
            <p>Kwanzaa celebrations often revolve around the Nguzo Saba, or seven principles:</p>
            <ul>
                <h6>Umoja (Unity) - Day 1</h6>
                <li>Families might host a gathering, inviting neighbours and friends to share a meal and stories.</li>
                <h6>Kujichagulia (Self-Determination) - Day 2</h6>
                <li>Reflect on personal goals and aspirations, perhaps jotting them down or sharing them with loved
                    ones.</li>
                <h6>Ujima (Collective Work and Responsibility) - Day 3</h6>
                <li>Organise a community task, like cleaning a local park.</li>
                <h6>Ujamaa (Cooperative Economics) - Day 4</h6>
                <li>Purchase gifts or necessities from local African American-owned businesses.</li>
                <h6>Nia (Purpose) - Day 5</h6>
                <li>Set a collective goal for the New Year, such as volunteering in the community.</li>
                <h6>Kuumba (Creativity) - Day 6</h6>
                <li>Engage in arts and crafts, creating decorations representing Kwanzaa principles.</li>
                <h6>Imani (Faith) - Day 7</h6>
                <li>Attend a church or prayer service, or take a quiet moment to meditate and reaffirm faith.</li>
            </ul>
            <p>Each family celebrates Kwanzaa in their own way, often including family gatherings, small gift exchanges,
                shared
                meals, and engagement in African cultural activities9. Some families strictly adhere to Kwanzaa
                traditions,
                while others may incorporate elements into their Christmas festivities.</p>
        </div>
    </div>
    <button class="btn btn-secondary read_more" type="button" data-bs-toggle="collapse" data-bs-target="#readMore26"
        aria-expanded="false" aria-controls="readMore26">
        Read more
    </button>
</div>