<div class="modal-header align-items-center justify-content-between py-5"
  style="background-image: url('assets/media/images_for_days/day21_messybed.webp'); background-position: center;">
  <div class="d-flex align-items-center mx-auto">
    <div class="modal-title text-white text-shadow text-center rounded p-3" id="day21Label">
      Don’t Make Your Bed Day
    </div>
  </div>
  <button type="button" class="btn-close-custom" data-bs-dismiss="modal" aria-label="Close">
    <i class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <p>
    Embrace the delightful chaos of Don’t Make Your Bed Day on December 21st, a whimsical holiday that encourages
    you to
    ditch the chores and revel in the joy of a messy bed! Discover the charming story behind this fun celebration
    and
    learn how you can join in on the rebellion against tidiness for a day of carefree relaxation!
  </p>

  <div class="collapse" id="readMore21">
    <div class="card-body">
      <p>
        Don’t Make Your Bed Day, celebrated on December 21st, is undoubtedly one of the most amusing holidays around,
        and it
        all started with an adorable petition from a fifth-grader in New Mexico! If you’ve ever felt the urge to rebel
        against the tidy demands of adulthood, this day is your perfect excuse to embrace the delightful chaos of an
        unmade
        bed and enjoy a little carefree fun.
        How to Celebrate Don’t Make Your Bed Day
        For many children—and surprisingly, quite a few adults—not making the bed is a playful act of defiance against
        the
        structured world of grown-ups. Here are some fun ways to join in the celebration:
      <ul>
        <li>Skip Making Your Bed (and Other Chores!): Why stop at just leaving your bed unmade? Take a break from
          other
          mundane tasks too—perhaps skip your morning coffee or let your hair be a bit wild today! Don’t Make Your Bed
          Day
          is all about relaxation and breaking free from those pesky “rules” that govern our lives.</li>
        <li>Treat Yourself to a New Bed: If you’ve been thinking about upgrading your sleeping situation, now’s the
          perfect
          time! Use this day as an excuse to invest in a new bed that promises comfort and style.</li>
        <li>Invest in Easy Bedding: Say goodbye to complicated bed-making rituals! Consider getting a duvet set that
          makes
          it a breeze—just throw the duvet on top and you’re done!</li>
        <li>Share the Fun on Social Media: Celebrate your messy bed by posting photos online and spreading the word
          about
          Don’t Make Your Bed Day. It’s refreshing to see a bit of chaos in our perfectly curated social media feeds!
        </li>
      </ul>
      </p>
      <h5>A Bit of History</h5>
      <p>Don’t Make Your Bed Day is relatively new, having been inspired by a charming petition written by
        fifth-grader
        Shannon Barba. He expressed his desire for a day where no one had to make their beds, arguing that everyone
        deserves
        a break from this daily chore. His heartfelt plea resonated with many, highlighting that even adults sometimes
        feel
        tired of tidying up!
        So, whether you’re a neat freak or someone who enjoys a bit of messiness, Don’t Make Your Bed Day is an
        excellent
        opportunity to embrace imperfection and enjoy life’s little pleasures. After all, who wouldn’t want an excuse
        to
        relax in their unmade bed for just one day?
      </p>
    </div>
  </div>
  <button class="btn btn-secondary read_more" type="button" data-bs-toggle="collapse" data-bs-target="#readMore21"
    aria-expanded="false" aria-controls="readMore21">
    Read more
  </button>
</div>