<div class="modal-header align-items-center justify-content-between py-5"
  style="background-image: url('assets/media/images_for_days/day25_christmas.webp'); background-position: center;">
  <div class="d-flex align-items-center mx-auto">
    <div class="modal-title text-white text-shadow text-center rounded p-3" id="day25Label">
      Christmas Day
    </div>
  </div>
  <button type="button" class="btn-close-custom" data-bs-dismiss="modal" aria-label="Close">
    <i class="fas fa-times"></i>
  </button>
</div>

<div class="modal-body">
  <p>
    Christmas is a truly special holiday that brings people together in a spirit of joy, love, and generosity,
    creating
    cherished memories with family and friends. The warmth of festive traditions, from decorating trees to sharing
    meals
    and exchanging gifts, makes it a magical time to celebrate the beauty of giving and connection, inviting
    everyone to
    partake in the joy of the season.
  </p>

  <div class="collapse" id="readMore25">
    <div class="card-body">
      <p>
        Christmas Day is celebrated on December 25th by over two billion people worldwide. Traditionally, it marks the
        birth
        of Jesus Christ, but many non-religious individuals and those from different faiths also enjoy the day as a
        cultural
        celebration. The term "Christmas" comes from the Old English "Crīstesmæsse," which means Christ's Mass. Today,
        it is
        a public holiday in most countries, with only a handful not recognising it as such.
      </p>
      <h5>Christmas Traditions</h5>
      <p>Christmas customs vary widely across the globe and have evolved significantly over time, often blending with
        other
        cultural traditions. One of the most cherished customs is gift-giving, which traces its origins back to the Magi
        who
        presented gifts to Jesus shortly after his birth. Unfortunately, this tradition has also led to the
        commercialization of Christmas, with Americans spending an average of $700 on gifts, amounting to a staggering
        $465
        billion overall. Recently, there has been a movement encouraging people to simplify the holiday and refocus on
        its
        true meaning.
      </p>
      <h5>Popular Traditions</h5>
      <ul>
        <li>Candy Canes: While simple candy sticks existed as early as the 1600s, the iconic hooked candy cane became
          popular in 1920 thanks to Bob McCormack from Georgia, who added a red and white striped twist.</li>
        <li>Poinsettias: This vibrant plant became associated with Christmas in the 1920s in the U.S., inspired by a
          Mexican
          legend about a girl who offered weeds to celebrate Jesus's birthday, which miraculously bloomed into beautiful
          red
          flowers</li>
        <li>Christmas Trees: The tradition of decorating trees during winter celebrations dates back to ancient times.
          Martin Luther, a German preacher in the 16th century, is credited with being one of the first to place a tree
          inside his home for Christmas.</li>
        <li>Christmas Cards: In Victorian England, Sir Henry Cole invented the holiday card out of necessity in 1843. He
          commissioned an illustration from his friend J.C. Horsley and sent out the first cards via Penny Post.</li>
        <li>Caroling: Originally linked to wassailing—a term for a mulled drink—caroling evolved into visiting homes
          during
          winter months to sing songs, often receiving warm beverages in return.</li>
      </ul>
      <h5>Observing Christmas</h5>
      <p>Many Christmas traditions take place in the lead-up to December 25th. On Christmas morning, families typically
        gather to see what Santa has brought before sharing gifts around a beautifully decorated tree or enjoying a
        festive
        meal together. Other common activities include:</p>
      <ul>
        <li>Taking photos with Santa</li>
        <li>Baking cookies and treats</li>
        <li>Hanging lights and making ornaments</li>
        <li>Attending holiday concerts</li>
        <li>Watching festive films</li>
        <li>Opening Advent calendars</li>
      </ul>
      <p>Christmas Day often culminates in a special dinner filled with delicious desserts. The beauty of Christmas lies
        in
        its flexibility; families can choose which traditions to uphold or even create new ones. Sharing these moments
        on
        social media with #Christmas is a delightful way to connect with others.</p>
      <h5>Historical Context</h5>
      <p>
        The exact date of Jesus's birth remains uncertain; however, the first recorded celebration of Christmas occurred
        in
        336 AD during Emperor Constantine's reign. Early references to this celebration can be found in writings by John
        Chrysostom, a 4th-century archbishop. Over time, Christmas adopted various customs from Winter Solstice
        celebrations, such as decorating with evergreens and feasting.
        During medieval times, Christmas was observed more solemnly than it is today. The term "Cristes Maesse" was
        first
        documented in 1038 in Saxon England. As Christianity spread across Europe, many pagan customs were incorporated
        into
        Christmas festivities.
        In America, Christmas became a federal holiday about a century after the country's founding. By the mid-to-late
        1800s, advancements in communication and transportation began uniting diverse regional customs into a more
        cohesive
        celebration. Louis Prang introduced the American Christmas card in 1875, gradually replacing personal visits and
        letters.
        Influential works like Clement Moore's poem "An Account of Visit from Saint Nicholas" (1823) and Charles
        Dickens' "A
        Christmas Carol" (1843) helped shape our modern vision of Christmas, emphasising family togetherness and
        generosity
        during this joyful season.
      </p>
    </div>
  </div>
  <button class="btn btn-secondary read_more" type="button" data-bs-toggle="collapse" data-bs-target="#readMore25"
    aria-expanded="false" aria-controls="readMore25">
    Read more
  </button>
</div>