<div class="modal-header align-items-center justify-content-between py-5"
    style="background-image: url('assets/media/images_for_days/day31_new-year.webp'); background-position: 50% 25%;">
    <div class="d-flex align-items-center mx-auto">
        <div class="modal-title text-white text-shadow text-center rounded p-3" id="day31Label">
            New Year’s Eve
        </div>
    </div>
    <button type="button" class="btn-close-custom" data-bs-dismiss="modal" aria-label="Close">
        <i class="fas fa-times"></i>
    </button>
</div>
<div class="modal-body">
    <p>
        New Year’s Eve is a special holiday that encourages us to reflect on the past year and embrace new
        beginnings.
        As the clock strikes midnight, we gather with loved ones to celebrate with fireworks, music, and
        laughter,
        creating unforgettable memories.
        It's a time for setting resolutions and sharing hopes for the future, fostering a sense of community and
        connection. Join in the festivities to bid farewell to the old year and welcome the new one with joy and
        optimism!
    </p>
    <div class="collapse" id="readMore31">
        <div class="card-body">
            <p>
                New Year’s Eve is a festive occasion that marks the end of the year and the beginning of a new one.
                Celebrated
                on December 31, it is a time for joy, reflection, and hope, often filled with traditions that vary
                across
                cultures. Common festivities include attending parties, dancing, watching fireworks, and making
                resolutions for
                the upcoming year.
            </p>
            <h5>A Rich History</h5>
            <p>The origins of New Year’s Eve celebrations date back thousands of years to ancient civilisations like
                the
                Babylonians and Romans. In ancient Rome, the new year was celebrated with a festival dedicated to
                Anna
                Perenna,
                the goddess of the year. This event involved feasting, drinking, and exchanging gifts. Over time,
                the
                date of
                the new year shifted; medieval Europe celebrated it on March 25 until the adoption of the Gregorian
                calendar in
                the 16th century established January 1 as New Year’s Day.</p>
            <h5>Celebrating New Year’s Eve Today</h5>
            <p>Today, New Year’s Eve is celebrated in various ways around the world:</p>
            <ul>
                <li>Attending Parties: Many people celebrate by hosting or attending gatherings filled with music
                    and
                    dancing.
                </li>
                <li>Watching Fireworks: Fireworks displays are a highlight in many countries, creating a vibrant
                    atmosphere as
                    midnight approaches.</li>
                <li>Making Resolutions: A common tradition involves setting personal goals for self-improvement in
                    the
                    new year.
                </li>
                <li>Spending Time with Loved Ones: This holiday is often seen as an opportunity to reflect on the
                    past
                    year
                    while enjoying time with family and friends.</li>
                <li>Cultural Traditions: Different cultures have unique customs. For instance, in Spain, it's
                    traditional to eat
                    twelve grapes at midnight—one for each stroke of the clock—to bring good luck. In Japan, many
                    visit
                    temples
                    to pray for blessings in the new year.</li>
            </ul>
            <h5>Iconic Traditions</h5>
            <p>One of the most famous New Year’s Eve traditions is the ball drop in Times Square, New York City.
                Since
                1907, a
                large crystal ball has been lowered at midnight to signal the start of the new year.
            </p>
            <h5>Fun Facts</h5>
            <ul>
                <li>The first recorded New Year’s Eve celebration was held in ancient Babylon around 2000 BC.</li>
                <li>The original ball used in Times Square weighed 700 pounds and was adorned with 100 light bulbs.
                </li>
            </ul>
            <p>With its rich history and diverse traditions, New Year’s Eve remains a time for people to come
                together,
                celebrate life, and look forward to what lies ahead in the new year. Whether through lively parties
                or
                quiet
                reflections with loved ones, this holiday captures the spirit of renewal and hope that resonates
                with us
                all.
            </p>
        </div>
    </div>
    <button class="btn btn-secondary read_more" type="button" data-bs-toggle="collapse" data-bs-target="#readMore31"
        aria-expanded="false" aria-controls="readMore31">
        Read more
    </button>
</div>