<div class="modal-header align-items-center justify-content-between py-5"
  style="background-image: url('assets/media/images_for_days/day4_socks.webp'); background-position: 50% 25%;">
  <div class="d-flex align-items-center mx-auto">
    <div class="modal-title text-white text-shadow text-center rounded p-3" id="day4Label">
      National Sock Day: <br> A Celebration of Comfort and Style!
    </div>
  </div>
  <button type="button" class="btn-close-custom" data-bs-dismiss="modal" aria-label="Close">
    <i class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <p>Celebrate National Sock Day on December 4th by embracing the comfort and fun of your favourite socks! Whether
    you treat yourself to a new pair or donate to those in need, this day is all about spreading warmth and joy
    through this cosy accessory.</p>
  <div class="collapse" id="readMore4">
    <div class="card-body">
      <p>National Sock Day is celebrated every year on December 4th, and it’s the perfect occasion to appreciate those
        cosy, colourful accessories that keep our feet warm and stylish. Founded in 2016 by the clothing company Pair
        of Thieves, this fun holiday encourages everyone to embrace the joy of socks while also promoting goodwill and
        charity.</p>

      <h5>A Brief History</h5>
      <p>Socks have a fascinating history that dates back over 2,000 years when early humans crafted them from matted
        goat hair to keep their feet warm. Over the centuries, socks evolved into fashionable items made from various
        materials like cotton, wool, and silk. National Sock Day was established not only to celebrate these versatile
        accessories but also to give back to those in need. Each year, Pair of Thieves donates a pair of socks for
        every social media post using the hashtag #NationalSockDay, helping to provide warmth to those less fortunate.
      </p>

      <h5>How to Celebrate National Sock Day</h5>
      <p>Here are some delightful ways to join in the fun on National Sock Day:</p>
      <ul>
        <li>Treat Yourself to New Socks: Explore the latest trends and add some colourful or quirky socks to your
          collection. Whether you prefer bold patterns or cosy solids, it's a great day to refresh your sock drawer!
        </li>
        <li>Donate Socks: Socks are often one of the most requested items at homeless shelters. Consider purchasing a
          few pairs to donate or check with local shelters about their needs.</li>
        <li>Throw a Sock Party: Gather friends for a sock-themed get-together! Encourage everyone to wear their
          craziest socks and play fun games like sock toss or sock-matching challenges.</li>
        <li>Watch Movies Featuring Socks: Enjoy a movie night with films that feature memorable sock scenes, such as
          The Wizard of Oz or Clueless.</li>
        <li>Get Crafty with Sock Puppets: Use old socks to create fun puppets! Decorate them with googly eyes and
          other craft supplies for a playful activity that everyone can enjoy.</li>
      </ul>
      <p>National Sock Day is all about celebrating the simple joys in life, so slip on your favourite pair, spread
        some cheer, and enjoy all the warmth that socks bring!</p>

    </div>
  </div>
  <button class="btn btn-secondary read_more" type="button" data-bs-toggle="collapse" data-bs-target="#readMore4"
    aria-expanded="false" aria-controls="readMore4">
    Read more
  </button>
</div>