<div class="modal-header align-items-center justify-content-between py-5"
  style="background-image: url('assets/media/images_for_days/day7_cottoncandy.webp'); background-position: 50% 5%;">
  <div class="d-flex align-items-center mx-auto">
    <div class="modal-title text-white text-shadow text-center rounded p-3" id="day7Label">
      Cotton Candy Day: <br> A Sweet Celebration!
    </div>
  </div>
  <button type="button" class="btn-close-custom" data-bs-dismiss="modal" aria-label="Close">
    <i class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <p>Cotton Candy Day is a whimsical celebration dedicated to the fluffy, sugary treat that brings joy to fairs
    and carnivals around the world. Known as "fairy floss" in some regions, this delightful confection is created
    by spinning sugar into delicate strands, resulting in a cloud of sweetness that delights both young and old
    alike.</p>
  <div class="collapse" id="readMore7">
    <div class="card-body">
      <p>Cotton Candy Day is a delightful holiday dedicated to celebrating the whimsical, sugary treat that brings joy
        to fairs and carnivals around the world. Often known as "fairy floss" in some countries, this fluffy
        confection is made by spinning sugar into delicate strands that create a cloud of sweetness on a stick.</p>

      <h5>The Magic of Cotton Candy</h5>
      <p>If you have a sweet tooth, you’re in for a treat! Cotton candy has a rich history, with roots tracing back to
        19th-century Europe, where it was a luxury enjoyed by the elite. It wasn’t until 1897 that cotton candy became
        accessible to the masses when dentist William Morrison and his partner John C. Wharton invented the first
        cotton candy machine and showcased it at the 1904 World’s Fair. Since then, it has become a staple at fairs,
        festivals, and funfairs everywhere.</p>

      <h5>How to Celebrate Cotton Candy Day</h5>
      <p>Here are some fun ways to enjoy National Cotton Candy Day:</p>
      <ul>
        <li>Indulge in Cotton Candy: Treat yourself to your favourite flavour of cotton candy. Whether it’s classic
          pink or something adventurous like blue raspberry or bubblegum, enjoy every sugary bite!</li>
        <li>Make Your Own: If you’re feeling creative, why not try making your own cotton candy at home? You’ll need
          sugar, food colouring, and a cotton candy machine. There are plenty of recipes online to help you get
          started!</li>
        <li>Try Cotton Candy Desserts: Get inventive with your sweets by incorporating cotton candy into desserts like
          cupcakes, milkshakes, or even cocktails. Cotton candy s’mores or fairy floss donuts are sure to impress!
        </li>
        <li>Share the Joy: Invite friends over for a cotton candy party! Set up a cotton candy station with different
          flavours and toppings for everyone to enjoy.</li>
      </ul>

      <h5>Fun Facts About Cotton Candy</h5>
      <ul>
        <li>Did you know that the strands of cotton candy are thinner than human hair?</li>
        <li>The longest cotton candy ever made stretched over 1,400 meters!</li>
        <li>In France, cotton candy is affectionately called "barbe à papa," which means "daddy’s beard."</li>
      </ul>
      <p>Cotton Candy Day is all about embracing the sweet moments in life and indulging in this fluffy treat that
        brings back childhood memories. So grab your favourite flavour and celebrate this delightful day with joy and
        laughter!</p>

    </div>
  </div>
  <button class="btn btn-secondary read_more" type="button" data-bs-toggle="collapse" data-bs-target="#readMore7"
    aria-expanded="false" aria-controls="readMore7">
    Read more
  </button>
</div>