<div class="modal-header align-items-center justify-content-between py-5"
  style="background-image: url('assets/media/images_for_days/day8_brownie.webp'); background-position: 50% 75%;">
  <div class="d-flex align-items-center">
    <div class="modal-title m-0 text-white text-shadow text-center rounded p-3" id="day8Label">
      National Brownie Day: <br>A Celebration of Chocolatey Delight!
    </div>
  </div>
  <button type="button" class="btn-close-custom" data-bs-dismiss="modal" aria-label="Close">
    <i class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body">

  <p>Celebrate National Brownie Day on December 8th, a heavenly occasion for chocolate lovers to indulge in their
    favourite gooey, fudgy delights! Whether you prefer them warm with a scoop of ice cream or rich and decadent, this
    day is all about sharing sweet moments and creating delicious memories with friends and family!</p>

  <div class="collapse" id="readMore8">

    <div class="card-body">

      <h5>The History of Brownies</h5>
      <p>The origins of brownies can be traced back to the Palmer House Hotel in Chicago in 1893. Bertha Palmer, a
        prominent socialite, requested a dessert suitable for ladies attending the World’s Columbian Exposition,
        leading to the creation of the Palmer House Brownie, which featured walnuts and an apricot glaze. By 1907,
        brownies were firmly established in American cuisine, appearing in cookbooks and becoming a beloved treat.</p>

      <h5>Fun Facts About Brownies</h5>
      <ul>
        <li>2 Billion Brownies: In 1988 alone, Americans consumed around 2 billion brownies!</li>
        <li>Nut Preferences: About 60% of brownie fans prefer their treats nut-free, proving that whether you like
          them chewy or crunchy, brownies are always a hit.</li>
        <li>Corner Lovers: A surprising 36% of brownie enthusiasts love the crispy edges found in corner pieces!</li>
      </ul>

      <h5>How to Celebrate National Brownie Day</h5>
      <ul>
        <li>Bake and Indulge: Spend the day baking your favourite brownie recipe or trying out new flavours like
          caramel, mint, or even Oreo brownies. Don’t forget to enjoy them with a glass of milk!</li>
        <li>Host a Brownie Tasting Party: Invite friends over for a brownie bar featuring different varieties. From
          classic fudgy brownies to creative combinations, there’s something for everyone to enjoy.</li>
        <li>Share Your Love for Brownies: Snap some photos of your brownie creations and share them on social media to
          spread the joy of this delicious day!</li>
      </ul>

      <h5>Why We Love National Brownie Day</h5>
      <p>Brownies are not just delicious; they also bring back fond memories of baking with loved ones and enjoying
        sweet treats together. So grab your ingredients, whip up a batch, and celebrate National Brownie Day with joy
        and indulgence!</p>

    </div>
  </div>
  <button class="btn btn-secondary read_more" type="button" data-bs-toggle="collapse" data-bs-target="#readMore8"
    aria-expanded="false" aria-controls="readMore8">
    Read more
  </button>

</div>