<div class="modal-header align-items-center justify-content-between py-5"
  style="background-image: url('assets/media/images_for_days/day9_pastry.webp'); background-position: center;">
  <div class="d-flex align-items-center mx-auto">
    <div class="modal-title text-white text-center text-shadow rounded p-3" id="day9Label">
      National Pastry Day
    </div>
  </div>
  <button type="button" class="btn-close-custom" data-bs-dismiss="modal" aria-label="Close">
    <i class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <p>Dive into the deliciousness of National Pastry Day on December 9, a celebration of the exquisite world of
    pastries that have delighted taste buds since ancient times! Treat yourself to a tempting array of sweet and
    savoury delights while honouring the artistry of pastry chefs who transform simple ingredients into culinary
    masterpieces!</p>
  <div class="collapse" id="readMore9">
    <div class="card-body">
      <p>National Pastry Day, celebrated on December 9, is a delightful occasion to indulge in the world of pastries,
        which have a rich history dating back to ancient civilizations. The earliest known pastries were created by
        the ancient Egyptians, who used grain meal and honey, while the Greeks and Romans developed thin pastry
        doughs, akin to modern phyllo. As pastries made their way to Europe during medieval times, bakers began
        incorporating fats like butter and shortening, leading to the diverse pastry varieties we enjoy today. The art
        of pastry-making reached new heights in 18th-century France, solidifying its reputation as the pastry capital
        of the world.</p>

      <h5>Activities for National Pastry Day</h5>

      <h6>Visit a Local Bakery</h6>
      <p>Explore your neighbourhood bakery and treat yourself to a variety of pastries. Whether you live in a small
        town or a bustling city, local bakeries offer an array of delicious options. Enjoying these treats supports
        local businesses while satisfying your sweet tooth.</p>

      <h6>Watch Baking Shows</h6>
      <p>Immerse yourself in the world of pastry by binge-watching popular baking shows. Titles like “The Great
        British Bake Off” and “Cupcake Wars” showcase the artistry of pastry-making, while classic shows featuring
        chefs like Julia Child can provide inspiration.</p>

      <h6>Make Pastry Dough from Scratch</h6>
      <p>Challenge yourself by creating pastry dough from scratch. While it may be tempting to opt for pre-made dough,
        making your own can be a rewarding experience. Gather your ingredients and spend an afternoon kneading dough,
        allowing yourself to enjoy some raw bites along the way.</p>

      <h5>Mouthwatering Pastry Suggestions</h5>
      <ul>
        <li>Bomboloni: A sugar-dusted vanilla cream-filled treat reminiscent of doughnuts.</li>
        <li>Toasted-Marshmallow Butterscotch Pie: A decadent dessert loaded with chocolate and cream.</li>
        <li>Jam-Filled Cronut: A delightful fusion of croissant and doughnut that is irresistible.</li>
        <li>Nutella Palmiers: Flaky pastries filled with the beloved chocolate hazelnut spread.</li>
        <li>Brookies: A delicious combination of brownies and cookies.</li>
        <li>Caramel-Filled Chocolate Munchkins: Rich and sugary bites that are sure to please.</li>
        <li>Snickerdoodle Cupcakes: A cupcake version of the classic cookie that’s perfect for any gathering.</li>
      </ul>

      <h5>Why We Celebrate National Pastry Day</h5>
      <p>National Pastry Day provides an opportunity to indulge without guilt. While pastries are not typically
        healthy foods due to their sugar and fat content, this day allows for celebration through delicious treats
        like doughnuts, croissants, and éclairs. It also honours the skill involved in pastry-making. Becoming a
        pastry chef requires extensive training and precision in measurements and techniques. The creativity needed to
        transform various doughs into an array of desserts is commendable, yet often overlooked. Additionally,
        pastries aren't just sweet; they encompass savoury options too. From quiches to pop overs, there’s room for
        both main courses and desserts on this special day.</p>

      <h5>The History of National Pastry Day</h5>
      <p>Pastries have ancient roots with origins traced back to Roman and Greek cultures that utilized simple
        ingredients like flour, oil, and honey. Over time, these evolved into more complex forms with the introduction
        of butter and shortening during medieval times. The demand for pastries grew among all social classes, leading
        to a flourishing industry that continues today. Modern pastry chefs are vital in high-end culinary
        establishments, creating intricate desserts that captivate diners worldwide. National Pastry Day celebrates
        this rich heritage and the artistry behind every flaky layer.</p>

      <h5>How to Celebrate National Pastry Day</h5>
      <ul>
        <li>Enjoy Local Pastries: Visit bakeries for seasonal treats like apple turnovers or cinnamon rolls.</li>
        <li>Try Baking at Home: Experiment with making your own pies or pastries from scratch.</li>
        <li>Take a Class: Enrol in a pastry-making class at a local culinary school to refine your skills.</li>
        <li>Share with Loved Ones: Enjoy your creations with friends or family or keep them all to yourself—your
          secret is safe!</li>
      </ul>
      <p>National Pastry Day is not just about enjoying delicious treats; it's about appreciating the craft behind
        them and indulging in both sweet and savoury delights.</p>

    </div>
  </div>
  <button class="btn btn-secondary read_more" type="button" data-bs-toggle="collapse" data-bs-target="#readMore9"
    aria-expanded="false" aria-controls="readMore9">
    Read more
  </button>

</div>